<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- <hibernate-configuration> -->
<!-- 	<session-factory> -->
<!-- 		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:postgresql://192.168.90.2/ansesdb</property> -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
<!-- 		<property name="hibernate.hbm2ddl.auto">update</property> -->
<!-- 		<property name="connection.username">ansesuser</property> -->
<!-- 		<property name="connection.password">ansespassword</property> -->
<!-- 		<property name=""></property> -->
<!-- 	</session-factory> -->
<!-- </hibernate-configuration> -->

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.JdbcDataSource</property>
		<property name="hibernate.connection.url">jdbc:h2:mem:test;DB_CLOSE_DELAY=-1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">sa</property>
		<property name="hibernate.show_sql">true</property>
	</session-factory>
</hibernate-configuration>